<h1 class="inherit-typography">Certifications</h1>

<div class="all-cards">
  <div class="two-cards">
    <app-ccard
      imgSrc="assets/certs/jsnsd.svg"
      title=" NodeJS Service Developer"
    >
    </app-ccard>
    <app-ccard
      imgSrc="assets/certs/jsnad.svg"
      title=" NodeJS Application Developer"
    >
    </app-ccard>
  </div>

  <div class="two-cards">
    <app-ccard
      title="Co-curricular Opportunities For Leadership Development"
      imgSrc="assets/certs/cold.svg"
    >
    </app-ccard>
  </div>
</div>
