<h1 class="inherit-typography">{{ "certifications" | translate }}</h1>

<div class="all-cards">
  <div class="two-cards">
    <app-ccard
      imgSrc="assets/certs/jsnsd.svg"
      [title]="translationObject.serviceDeveloper"
      [subtitle]="translationObject.openJSFoundation"
      content="This certificate was awarded via live programing exam."
      websiteLink="https://training.linuxfoundation.org/certification/jsnsd/"
    >
    </app-ccard>
    <app-ccard
      imgSrc="assets/certs/jsnad.svg"
      title=" Application Developer"
      subtitle="OpenJS Foundation"
      content="This certificate was awarded via live programming exam."
      websiteLink="https://training.linuxfoundation.org/certification/jsnad/"
    >
    </app-ccard>
  </div>

  <div class="two-cards">
    <app-ccard
      subtitle="Community Service UAF"
      title="COLD certification"
      imgSrc="assets/certs/cold.svg"
      content="This certification was awarded for my commuinity service work while going to UAF"
      websiteLink="https://uaf.edu/sli/leadership/cold/how-to-get.php"
    >
    </app-ccard>
  </div>
</div>
