<h1 class="inherit-typography">{{ "certifications" | translate }}</h1>

<div class="all-cards">
  <div class="two-cards">
    <app-ccard
      imgSrc="assets/certs/jsnsd.svg"
      [title]="translationObject.serviceDeveloper"
      [subtitle]="translationObject.openJSFoundation"
      [content]="translationObject.openJSFoundationContent"
      websiteLink="https://training.linuxfoundation.org/certification/jsnsd/"
    >
    </app-ccard>
    <app-ccard
      imgSrc="assets/certs/jsnad.svg"
      [title]="translationObject.applicationDeveloper"
      [subtitle]="translationObject.openJSFoundation"
      [content]="translationObject.openJSFoundationContent"
      websiteLink="https://training.linuxfoundation.org/certification/jsnad/"
    >
    </app-ccard>
  </div>

  <div class="two-cards">
    <app-ccard
      [subtitle]="translationObject.coldSubTitle"
      [title]="translationObject.coldTitle"
      imgSrc="assets/certs/cold.svg"
      [content]="translationObject.coldContent"
      websiteLink="https://uaf.edu/sli/leadership/cold/how-to-get.php"
    >
    </app-ccard>
  </div>
</div>
