<h1>Andrew's Projects</h1>
<div class="all-cards">
  <div class="two-cards">
    <app-pcard
      title="Robot Photographer"
      subtitle="Developer Tool"
      content="The Robot Photographer emulates many device sizes and retrieves screenshots of your"
    >
    </app-pcard>
    <app-pcard></app-pcard>
  </div>

  <div class="two-cards">
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
  </div>

  <div class="two-cards">
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
  </div>
</div>
