<h1>Andrew's Projects</h1>
<div class="all-cards">
  <div class="two-cards">
    <app-pcard
      codeLink="https://github.com/milldrew/robot-photographer"
      content="The Robot Photographer emulates many device sizes and retrieves screenshots for you."
      imgSrc="assets/robot-photographer.gif"
      liveApp="https://milldrew.github.io/robot-photographer/"
      subtitle="Developer Tool"
      title="Robot Photographer"
    >
    </app-pcard>
    <app-pcard></app-pcard>
  </div>

  <div class="two-cards">
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
  </div>

  <div class="two-cards">
    <app-pcard></app-pcard>
    <app-pcard></app-pcard>
  </div>
</div>
