<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>{{ "menu" | translate }}</mat-toolbar>
    <mat-nav-list>
      <a color="accent" mat-list-item routerLink="">{{ "home" | translate }}</a>
      <a color="accent" mat-list-item routerLink="projects">{{
        "projects" | translate
      }}</a>
      <a color="accent" mat-list-item routerLink="certifications">{{
        "certifications" | translate
      }}</a>
      <a color="accent" mat-list-item routerLink="degrees">{{
        "degrees" | translate
      }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <mat-toolbar class="main-tool-bar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="title" routerLink="">
        <span>Milldrew</span>
      </a>
      <!----------- CHANGE LANGUAGE------------- -->
      <div class="icon-container">
        <button
          (click)="toggleLanguageMenu()"
          type="button"
          cdkOverlayOrigin
          #languageMenu="cdkOverlayOrigin"
          class="language-menu"
          color="accent"
          mat-icon-button
        >
          <mat-icon>translate</mat-icon>
        </button>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="languageMenu"
          [cdkConnectedOverlayOpen]="isOpenLanguages"
          ><mat-card>
            <mat-action-list (click)="toggleLanguageMenu()" role="list">
              <button
                (click)="chosenLanguage('en')"
                mat-list-item
                role="list-option"
              >
                English
              </button>
              <button
                mat-list-item
                role="list-option"
                (click)="chosenLanguage('es')"
              >
                Español
              </button>
              <button
                mat-list-item
                role="list-option"
                (click)="chosenLanguage('chinese')"
              >
                你好
              </button>
            </mat-action-list>
          </mat-card></ng-template
        >

        <!-----------TYPOGRAPHY THEMES------------- -->
        <button
          (click)="toggleFontMenu()"
          type="button"
          cdkOverlayOrigin
          #typographymenu="cdkOverlayOrigin"
          class="typography-menu"
          color="accent"
          mat-button
        >
          {{ "handwriting" | translate }}
        </button>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="typographymenu"
          [cdkConnectedOverlayOpen]="isOpenFonts"
          ><mat-card>
            <mat-action-list (click)="toggleFontMenu()" role="list">
              <button
                (click)="chosenTypography('handwriting')"
                mat-list-item
                role="list-option"
              >
                {{ "handwriting" | translate }}
              </button>
              <button
                mat-list-item
                role="list-option"
                (click)="chosenTypography('monospace')"
              >
                {{ "monospace" | translate }}
              </button>
              <button
                mat-list-item
                role="list-option"
                (click)="chosenTypography('serif')"
              >
                {{ "serif" | translate }}
              </button>
              <button
                mat-list-item
                role="list-option"
                (click)="chosenTypography('sans-serif')"
              >
                {{ "sansSerif" | translate }}
              </button>
            </mat-action-list>
          </mat-card></ng-template
        >
      </div>
      <!-- ---------COLOR THEMES ------------- -->
      <button
        (click)="toggleThemeMenu()"
        type="button"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        class="theme-menu"
        color="accent"
        mat-icon-button
      >
        <mat-icon>format_paint</mat-icon>
      </button>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen"
        ><mat-card>
          <mat-action-list (click)="toggleThemeMenu()" role="list">
            <button
              (click)="chosenTheme('deep-purple-amber')"
              mat-list-item
              role="list-option"
            >
              {{ "deepPurpleAmber" | translate }}
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTheme('indigo-pink')"
            >
              {{ "indigoPink" | translate }}
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTheme('pink-blue-gray')"
            >
              {{ "pinkBlueGray" | translate }}
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTheme('purple-green')"
            >
              {{ "purpleGreen" | translate }}
            </button>
          </mat-action-list>
        </mat-card></ng-template
      >
    </mat-toolbar>
    <!-- Add Content Here -->
    <div id="top"></div>
    <router-outlet> </router-outlet>
    <app-footer id="footer" class="inherit-theme"> </app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
