<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="scrollToTop(content)">
      <a color="accent" mat-list-item routerLink="">Home</a>
      <a color="accent" mat-list-item routerLink="projects">Projects</a>
      <a color="accent" mat-list-item routerLink="certifications"
        >Certifications</a
      >
      <a color="accent" mat-list-item routerLink="degrees">Degrees</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <mat-toolbar class="main-tool-bar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="title" routerLink="">
        <span>Milldrew</span>
      </a>
      <!-- ---------TYPOGRAPHY THEMES------------- -->
      <button
        (click)="toggleFontMenu()"
        type="button"
        cdkOverlayOrigin
        #typographymenu="cdkOverlayOrigin"
        class="typography-menu"
        color="accent"
        mat-button
      >
        {{ typography }}
      </button>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="typographymenu"
        [cdkConnectedOverlayOpen]="isOpenFonts"
        ><mat-card>
          <mat-action-list (click)="toggleFontMenu()" role="list">
            <button
              (click)="chosenTypography('handwriting')"
              mat-list-item
              role="list-option"
            >
              Handwriting
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTypography('monospace')"
            >
              Monospace
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTypography('serif')"
            >
              Serif
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTypography('sans-serif')"
            >
              Sans-serif
            </button>
          </mat-action-list>
        </mat-card></ng-template
      >
      <!-- ---------COLOR THEMES ------------- -->
      <button
        (click)="toggleThemeMenu()"
        type="button"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        class="theme-menu"
        color="accent"
        mat-icon-button
      >
        <mat-icon>format_paint</mat-icon>
      </button>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen"
        ><mat-card>
          <mat-action-list (click)="toggleThemeMenu()" role="list">
            <button
              (click)="chosenTheme('deep-purple-amber')"
              mat-list-item
              role="list-option"
            >
              Deep Purple Amber
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTheme('indigo-pink')"
            >
              Indigo Pink (light)
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTheme('pink-blue-gray')"
            >
              Pink Blue-gray
            </button>
            <button
              mat-list-item
              role="list-option"
              (click)="chosenTheme('purple-green')"
            >
              Purple Green
            </button>
          </mat-action-list>
        </mat-card></ng-template
      >
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet> </router-outlet>
    <app-footer id="footer" class="inherit-theme"> </app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
