<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <a [href]="imgSrc" targe="blank">
    <img
      [src]="imgSrc"
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </a>
  <mat-card-content>{{ content }}</mat-card-content>
  <mat-card-actions>
    <a [href]="websiteLink" target="blank">
      <button matTooltip="Go to the certification website" mat-stroked-button>
        Website
      </button>
    </a>
  </mat-card-actions>
</mat-card>
