<h1 class="inherit-typography">Degrees</h1>
<mat-card>
  <mat-card-header>
    <mat-card-title
      >Bachelors Degree in Chemistry Biochemistry and Molecular Biology
    </mat-card-title>

    <mat-card-subtitle>University of Alaska Fairbanks</mat-card-subtitle>
  </mat-card-header>
  <a href="assets/degree/degree.svg" target="blank">
    <img mat-card-image src="assets/degree/degree.svg" />
  </a>
  <mat-card-content
    ><p>
      lorem ipsum fasdfi fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem
      ipsum fasdfi fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum
      fasdfi fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum fasdfi
      fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum fasdfi
      fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum fasdfi
      fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle
    </p></mat-card-content
  >
</mat-card>
