<h1 class="inherit-typography">Degrees</h1>

<div class="all-cards">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >Bachelors Degree in Chemistry Biochemistry and Molecular Biology
      </mat-card-title>

      <mat-card-subtitle>University of Alaska Fairbanks</mat-card-subtitle>
    </mat-card-header>
    <div class="center">
      <a class="center" href="assets/degree/degree.svg" target="blank">
        <img src="assets/degree/degree.svg" />
      </a>
    </div>
    <mat-card-content
      ><p>
        In 2016 I was awarded a Chemistry degree from the University of Alaska
        Fairbanks
      </p></mat-card-content
    >
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Bachelors Degree in Cloud Computing</mat-card-title>

      <mat-card-subtitle>Western Governors University</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content
      ><p>
        This Cloud Computing degree scaffolds nicely with my software
        development experience, I will complete this degree next when the time
        is right.
      </p></mat-card-content
    >
  </mat-card>
</div>
