<mat-card>
  <mat-card-header>
    <mat-card-title
      >Bachelors Degree in Chemistry Biochemistry and Molecular Biology
    </mat-card-title>
    <mat-card-subtitle> </mat-card-subtitle>
  </mat-card-header>
  <a href="assets/degree/degree.svg" target="blank">
    <img src="assets/degree/degree.svg" />
  </a>
  <mat-card-content
    >lorem ipsum fasdfi fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem
    ipsum fasdfi fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum
    fasdfi fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum fasdfi
    fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum fasdfi
    fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle lorem ipsum fasdfi
    fsdfsdfjlkjsdf. lorem ipsum sert sans ser ihle
  </mat-card-content>
</mat-card>
