@use "@angular/material" as mat;
:host {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  @include mat.elevation(8);
}
img {
  max-width: 50%;
  @include mat.elevation(8);
  margin: {
    left: auto;
    right: auto;
  }
}
