@use "sass:map";
@use "./app/home/home-theme.scss" as home;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$milldrew-portfolio-primary-purple: mat.define-palette(mat.$purple-palette);
$milldrew-portfolio-accent-green: mat.define-palette(
  mat.$green-palette,
  A200,
  A100,
  A400
);
$milldrew-portfolio-primary-pink: mat.define-palette(mat.$pink-palette);
$milldrew-portfolio-accent-blue-gray: mat.define-palette(
  mat.$blue-gray-palette,
  A200,
  A100,
  A400
);
$milldrew-portfolio-primary-deep-purple: mat.define-palette(
  mat.$deep-purple-palette
);
$milldrew-portfolio-accent-amber: mat.define-palette(
  mat.$amber-palette,
  A200,
  A100,
  A400
);
$milldrew-portfolio-primary-indigo: mat.define-palette(mat.$indigo-palette);
$milldrew-portfolio-accent-pink: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$milldrew-portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

//--- TYPOGRAPHY

.sans-serif {
  $foo-typography: mat.define-typography-config(
    $font-family: "Roboto",
  );
  @include mat.all-component-typographies($foo-typography);
  @include home.typography($foo-typography);
}
.serif {
  $foo-typography: mat.define-typography-config(
    $font-family: "Roboto Slab",
  );
  @include mat.all-component-typographies($foo-typography);
  @include home.typography($foo-typography);
}
.monospace {
  $foo-typography: mat.define-typography-config(
    $font-family: "Roboto Mono",
  );
  @include mat.all-component-typographies($foo-typography);
  @include home.typography($foo-typography);
}
.handwriting {
  $foo-typography: mat.define-typography-config(
    $font-family: "Mali",
  );
  @include mat.all-component-typographies($foo-typography);
  @include home.typography($foo-typography);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//--------- COLORS
.purple-green {
  $milldrew-portfolio-theme-purple-green: mat.define-dark-theme(
    (
      color: (
        primary: $milldrew-portfolio-primary-purple,
        accent: $milldrew-portfolio-accent-green,
        warn: $milldrew-portfolio-warn,
      ),
    )
  );
  @include mat.all-component-colors($milldrew-portfolio-theme-purple-green);
  @include home.color($milldrew-portfolio-theme-purple-green);
}
.pink-blue-gray {
  $milldrew-portfolio-theme-pink-blue-gray: mat.define-dark-theme(
    (
      color: (
        primary: $milldrew-portfolio-primary-pink,
        accent: $milldrew-portfolio-accent-blue-gray,
        warn: $milldrew-portfolio-warn,
      ),
    )
  );
  @include mat.all-component-colors($milldrew-portfolio-theme-pink-blue-gray);
  @include home.color($milldrew-portfolio-theme-pink-blue-gray);
}
.indigo-pink {
  $milldrew-portfolio-theme-indigo-pink: mat.define-light-theme(
    (
      color: (
        primary: $milldrew-portfolio-primary-indigo,
        accent: $milldrew-portfolio-accent-pink,
        warn: $milldrew-portfolio-warn,
      ),
    )
  );
  @include mat.all-component-colors($milldrew-portfolio-theme-indigo-pink);
  @include home.color($milldrew-portfolio-theme-indigo-pink);
}
.deep-purple-amber {
  $milldrew-portfolio-theme-deep-purple-amber: mat.define-dark-theme(
    (
      color: (
        primary: $milldrew-portfolio-primary-deep-purple,
        accent: $milldrew-portfolio-accent-amber,
        warn: $milldrew-portfolio-warn,
      ),
    )
  );
  @include mat.all-component-colors(
    $milldrew-portfolio-theme-deep-purple-amber
  );
  @include home.color($milldrew-portfolio-theme-deep-purple-amber);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  //changed for scroll functionality to work
  height: 100%;
}
body {
  margin: 0;
}
@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined";
@import "https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Two+Tone";
@import "@angular/cdk/overlay-prebuilt.css";

app-home {
  margin-bottom: 12vh;
}
h1 {
  letter-spacing: 4.2px;
  font-weight: 300;
}
