<div class="hero inherit-theme">
  <h1 class="hero-header">Andrew Miller's Portfolio</h1>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Introduction</mat-card-title>
  </mat-card-header>
  <div class="card-content">
    <img mat-card-xlg-image src="/assets/andrews-profile-picture copy.png" />
    <mat-card-content>
      lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea or ded
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah plea
      or ded blre lorem ipsum vetir meah plea or ded blre lorem ipsum vetir meah
      plea or ded blre lorem ipsum vetir meah plea or ded blre
    </mat-card-content>
  </div>
</mat-card>
