@use "../responsive.scss" as responsive;
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  height: 35vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-header {
  @include responsive.for-size(XLarge) {
    font-size: 500%;
  }
  @include responsive.for-size(Large) {
    font-size: 300%;
  }
  @include responsive.for-size(Medium) {
    font-size: 210%;
  }
  @include responsive.for-size(Small) {
    font-size: 200%;
  }
  @include responsive.for-size(XSmall) {
    font-size: 100%;
  }
}
mat-card {
  width: 80%;

  margin: {
    top: 30px;
  }
}

.card-content {
  display: flex;
}

mat-card-content {
  padding: {
    bottom: 20px;
    right: 20px;
    left: 20px;
  }
}
