<div class="hero inherit-theme">
  <h1 class="hero-header">Andrew Miller's Portfolio</h1>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Introduction</mat-card-title>
  </mat-card-header>
  <div class="card-content">
    <img src="assets/andrews-profile-picture.svg" />
    <mat-card-content
      >Welcome, at the beginning of July 2020 I started studying Software
      Engineering at Launch School. The curriculum can take several years. I
      completed the core curriculum in around 4 months and got A's on my
      assessments.
      <br />
      <br />
      After completing the core curriculum I realized that the school was not
      going to help me get a job, by accepting me into the "capstone" program.
      For reasons out side of my academic performance. After 4 more months of
      studying node.js. I became certified by the OpenJS Foundation for
      developing Node.js applications and network services, by completing the
      live node.js programming challenges. I completed the challenges in vim,
      and fell in love with vim. I love writing vimscript, bash script, and tmux
      script to automate my development environment.
      <br />
      <br />
      I did delete my first GitHub repo which contained hundreds possibly a
      thousand or more hours of coding.
      <br />
      <br />
      I am a self guided solo software developer. I honestly love writing code.
      I have recently fallen in love with NestJS and angular. I love them
      because they are nearly identical and there is little context change
      between UI development and API development.
      <br />
      <br />
      I especially of angular because it is free, I have delete many of my small
      projects and a couple of github repositories. I have used a long list of
      technologies from react and graphql to kubernetes and terraform.
      <br />
      <br />
      I am effective at every point in the technology stack. As a solo developer
      who can write code end to end, I have decided that I need to be able to
      create High Quality UI experiences rapidly. I have chosen Angular because
      of its relationship to nest, code generation, scalability.
      <br />
      <br />
    </mat-card-content>
  </div>
</mat-card>
