@use "../responsive.scss" as responsive;
:host {
  display: flex;
  height: 35vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-header {
  @include responsive.for-size(XLarge) {
    font-size: 500%;
  }
  @include responsive.for-size(Large) {
    font-size: 300%;
  }
  @include responsive.for-size(Medium) {
    font-size: 230%;
  }
  @include responsive.for-size(Small) {
    font-size: 220%;
  }
  @include responsive.for-size(XSmall) {
    font-size: 200%;
  }
}
