<div class="hero inherit-theme">
  <h1 class="hero-header">Andrew Miller's Portfolio</h1>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title>Introduction</mat-card-title>
  </mat-card-header>
  <div class="card-content">
    <img src="assets/andrews-profile-picture.svg" />
    <mat-card-content
      >Welcome, I am Andrew Miller. At the begining of July 2020 I started
      studying Software Engineering at Launch School. The curiculum can take
      sevreral years. I completed the core curiculum in around 4 months and got
      A's on my assesments.
      <br />
      <br />
      After completing the core curiculm I realized that the school was not
      going to help me get a job, by accepting into the "capstone" program. For
      reasons out side of my academic performance. After 4 more months of
      studying node.js. I became certified by the OpenJS Foundation for
      developing Node.js applications and network services, by completing the
      live node.js programing challenges. I completed the challenges in vim, and
      fell in love with vim. I love writing vimscript, bash script, and tmux
      script to automate my development environment.
      <br />
      <br />
      I did delete my first gihub repo whcih contained hundreds possibly a
      thousand or more hours of coding.
      <br />
      <br />
      I am a self guided solo software developer. I honestly love writing code.
      I have recently fallen in love with nestjs and angular. I love them
      because they are nearly identical and there is little context chagne
      between UI developmetn and API development.
      <br />
      <br />
    </mat-card-content>
  </div>
</mat-card>
