<div [ngStyle]="{ 'background-color': cardCoverColor }">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="imgSrc" mat-card-image />
    <mat-expansion-panel class="mat-elevation-z0"
      ><mat-expansion-panel-header class="mat-elevation-z0">{{
        content
      }}</mat-expansion-panel-header>
      <p>{{ moreContent }}</p>
    </mat-expansion-panel>
    <br />
    <mat-card-actions>
      <a *ngIf="serverCodeLink" [href]="serverCodeLink" target="blank">
        <button
          matTooltip="Go to the user interface code repository"
          mat-stroked-button
        >
          API Code
        </button>
      </a>
      <a *ngIf="uiCodeLink" [href]="uiCodeLink" target="blank">
        <button
          matTooltip="Go to the user interface code repository"
          mat-stroked-button
        >
          UI Code
        </button>
      </a>
      <a *ngIf="codeLink" [href]="codeLink" target="blank">
        <button
          *ngIf="codeLink"
          matTooltip="Go to code repository"
          mat-stroked-button
        >
          Code
        </button>
      </a>
      <a *ngIf="liveApp" [href]="liveApp" target="blank">
        <button matTooltip="Go to live deployment" mat-stroked-button>
          Live App
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
