@use "../../responsive.scss" as responsive;
:host {
  margin: {
    bottom: 30px;
  }
}
mat-card {
  height: fit-content;
  width: 290px;
  min-height: 409px;
  margin: 10px;
  @include responsive.for-size(XSmall) {
    width: 260px;
  }
  @include responsive.for-size(Large) {
    margin: 40px;
  }
  @include responsive.for-size(XLarge) {
    margin: 40px;
  }
}
mat-card-actions {
  position: absolute;
  bottom: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}

mat-expansion-panel-header {
  padding : {
    left: 10px;
    right: 20px;
  }
}
mat-expansion-panel {
  padding {
    bottom: 20px;
  }
  margin: {
    bottom: 30px;
  }
}
mat-card-actions {
  margin: {
    top: 30px;
  }
  padding: {
    top: 30px;
  }
}
