<mat-card>
  <mat-card-header>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
  />
  <mat-card-content>
    lorem ipsum reat fsfear kher hea reai lorem ipsum reat fsfear kher hea reai
    lorem ipsum reat fsfear kher hea reai lorem ipsum reat fsfear kher hea reai
    lorem ipsum reat fsfear kher hea reai
  </mat-card-content>
  <mat-card-actions>
    <button matTooltip="Go to code repository" mat-stroked-button>Code</button>
    <button matTooltip="Go to project deployment" mat-stroked-button>
      Deployment
    </button>
  </mat-card-actions>
</mat-card>
